name: Build

on: [ push ]

jobs:

  build:
    name: Build

    strategy:
      matrix:
        pico_platform:
        - rp2040
        - rp2350

    runs-on: ubuntu-24.04

    env:
      PICO_SDK_PATH: ${{ github.workspace }}/__pico-sdk__

    steps:

    - uses: actions/checkout@v6

    - name: Checkout pico-sdk
      uses: actions/checkout@v6
      with:
        repository: raspberrypi/pico-sdk
        ref: '2.2.0'
        path: __pico-sdk__
        submodules: true

    - name: Install ARM toolchains
      run: |
        sudo apt update
        sudo apt install -y cmake ninja-build gcc-arm-none-eabi gcc g++

    - run: |
        make PICO_PLATFORM=${{ matrix.pico_platform }}

    - uses: actions/upload-artifact@v6
      with:
        name: firmwares-${{ matrix.pico_platform }}
        path: |
          build/**/*.dis
          build/**/*.elf
          build/**/*.elf.map
          build/**/*.uf2
